<header class="header">
    <div class="container_header_menu">
        <div class="header_logo">
            <a href="#"><img src="assets/img/BlackLogo 3.jpg" alt="Blacklogo picture" class="img_logo"></a>
        </div>
        <ul class="header_nav">
                <li><a href="ideja.html">Ideja</a></li>
                <li><a href="piesakiSapni.html">Piesaki Sapni</a></li>
                <li><a href="uznemejiem.html">Uzņēmējiem</a></li>
                <li><a href="sapnuBanka.html">Sapņu banka</a></li>
                <li><a href="sapnusAtbalsta.html">Sapņus atbalsta</a></li>
                <li><a href="iedvesmasStasti.html">99 Iedvesmas stāsti</a></li>
                <li><a href="#">LV</a></li>
        </ul>
        <div class="dropdown">
            <div class="nav_icon">
                <a href="#"><input type="image" src="assets/img/Menu_symbol.png" id="navicon"/></a>
            </div>
            <div class="dropdown-content">
                <div class="header_logo">
                    <a href="#"><img src="assets/img/BlackLogo 3.jpg" alt="Blacklogo picture" class="img_logo"></a>
                </div>
                <div class="close_icon">
                <a href="#"><input type="image" src="assets/img/Close_symbol.png" /></a>
                </div>
                <div class="dropdown_menu_content">
                    <div class="dropdown_menu_content_header">
                        <h2 class="dropdown_menu_content_header_language_item">LV</h2>
                        <h2 class="dropdown_menu_content_header_language_item">EN</h2>
                        <h2 class="dropdown_menu_content_header_language_item">RU</h2>
                    </div>
                    <ul class="dropdown_menu_content_nav">
                        <li><a href="ideja.html">Ideja</a></li>
                        <li><a href="piesakiSapni.html">Piesaki Sapni</a></li>
                        <li><a href="uznemejiem.html">Uzņēmējiem</a></li>
                        <li><a href="sapnuBanka.html">Sapņu banka</a></li>
                        <li><a href="sapnusAtbalsta.html">Sapņus atbalsta</a></li>
                        <li><a href="iedvesmasStasti.html">99 Iedvesmas stāsti</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
      
    
</header>
<main>
        <div class="container_video">
                <img src="assets/img/Union.svg" alt="" class="union" >
                <img src="assets/img/Sparkle_Video_1.png" alt="" class="sparkle-video">
        </div>
        <div class="main_text">
            <p>SparkleHeart ir biedrība, kas radīta, lai palīdzētu cilvēkiem piepildīt pat pārdrošākos sapņus. Šeit satiekas sapņotāji un viņu atbalstītāji - uzņēmumi, kas sniedz palīdzīgu roku, lai kopā pasauli padarītu par labāku vietu mums visiem.Mēs esam gatavi palīdzēt Tev piepildīt sapni. Kā pamats iedvesmai - tiek radīti arī 99 stāsti par Latvijas sievietēm.</p>
        </div>
        <div class="container_main_gallery">
            <div>
                <img src="assets/img/ripped67.svg" alt="" class="ripped67" >
            </div>
            <div class="main_gallery">
                <figure class="gallery__item gallery__item--1">
                    <img src="assets/img/Zanda_1.jpg" alt="" class="gallery__img">
                </figure >
                <figure class="gallery__item gallery__item--2">
                    <img src="assets/img/Sibilla_4.jpg" alt="" class="gallery__img">
                </figure >
                <figure class="gallery__item gallery__item--3">
                    <div class="gallery_vertical_pictures">
                        <img src="assets/img/Brinuma_meita-15.jpg" alt="" class="gallery__img">
                        <img src="assets/img/Alina_1 1.jpg" alt="" class="gallery__img">
                    </div>
                </figure >
                <figure class="gallery__item gallery__item--4">
                    <img id="img_anda" src="assets/img/Anda_2 1.jpg" alt="" class="gallery__img">
                </figure >
            </div>
            <div>
                <img src="assets/img/ripped68.svg" alt="" class="ripped68" >
            </div>
        </div>
        <div class="main_buttons">
            <div class="header_sapni">
                <p class="p_sapni" >VĒLIES PIEPILDĪT SAVU SAPNI?</p>
                <div class="btn_sapni">
                    <input type="image" src="assets/img/Poga_sapnotajiem.png" />
                </div> 
            </div>

            <div class="header_uznemeji">
                <p class="p_uznemeji">VĒLIES PALĪDZĒT KĀDAM PIEPILDĪT SAPNI?</p>
                <div class="btn_uznemeji">
                    <input type="image" src="assets/img/Poga_uznemejiem.png" />
                </div>
            </div>
        </div>
        <div class="main_form_header">
                <h2>SAZINĀTIES AR MUMS</h2>
        </div>
        <div class="main_form">
            <div class="input_fields">
                <div class="input_row">
                    <div class="input_group">
                        <input type="text" placeholder="Vārds, Uzvārds*">
                    </div>
                    <div class="input_group">
                        <input type="text" placeholder="Email*">
                    </div>
                </div>
                <div class="input_row">
                    <div class="input_group">
                        <input type="text" placeholder="Telefons*"> 
                    </div>
                </div>
                <div class="input_row">
                    <div class="input_group">
                        <input id="input_textarea" placeholder="Jautājums, vai komentārs*"> 
                    </div>
                </div>
                <div class="note">
                        <p>* obligāti aizpildāmie lauki</p>
                </div>
                <div class="checkbox_agreement">
                        <input type="image" src="assets/img/Checkbox.png" />
                        <p>Piekrītu, ka mani dati tiks izmantoti likumdošanā noteiktā kārtībā un tiks saglabāti līdz brīdim, kamēr tas būs nepieciešams.</p>
                </div>
                    <div class="form_submit">
                        <input type="image" src="assets/img/Poga_pieteikt_sapni.png" />
                    </div>
                </div>
        </div>

        <div class="main_supporters_desktop">
            <img src="assets/img/Group_atbalstitaji.png" alt="" class="supporters_desktop"/>
        </div>
        <div class="main_supporters_mobile">
            <div class="mobile_div_row">
                <div class="mobile_group">
                    <p class="h_mobile_header">ATBALSTĪTĀJI</p>
                </div>
            </div> 
            <div class="mobile_div_row">
                <div class="mobile_group">
                    <img src="assets/img/teikums.png" alt="">
                </div>
                <div class="mobile_group">
                    <img src="assets/img/sem.png" alt="">
                </div>
            </div> 
            <div class="mobile_div_row">
                <div class="mobile_group">
                    <img src="assets/img/citybee.png" alt="">
                </div>
                <div class="mobile_group">
                    <img src="assets/img/linearis.png" alt="">
                </div>
            </div>
        </div>

        <footer class="footer" id="footerbox">
            <img src="assets/img/footer.png" alt="" class="footer_desktop"/>
            <img src="assets/img/footer_tablet.png" alt="" class="footer_tablet"/>
            <img src="assets/img/Mobile_footer.png" alt="" class="footer_mobile"/>
        </footer>
    </main>